*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto Mono", monospace;
}

html {
  font-size: 62.5%;
}

body {
  background: url(../assets/images/confetti.png) no-repeat center center fixed;
  box-sizing: border-box;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-color: rgba(0, 0, 0, 0.808);
  height: 100vh;
}

.main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.title {
  text-align: center;
  font-size: calc(2rem + 2vw);
  letter-spacing: 1px;
  margin: 2rem 0;
  color: white;
}

.login-form {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  color: white;
}

.apply-button {
  animation: fade-in ease-in-out 0.3s, pulse 2s infinite;
  background-color: rgba(255, 255, 255, 0.3);
  color: white;
  padding: 10px 20px;
  border-radius: 5px;
  border: none;
  font-size: calc(1rem + 1vw);
  font-weight: bolder;
  transition: 0.3s;
  z-index: 2;
  text-align: center;
}

.apply-button:hover {
  background-color: #868e96;
}

.apply-button:focus {
  background-color: rgba(255, 255, 255, 0.3);
}

.name-input {
  animation: fade-in ease-in-out 0.3s;
  font-size: calc(1rem + 1vw) !important;
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes fade-out {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

@keyframes pulse {
  0% {
    box-shadow: 0 0 0 0 #868e96;
  }

  70% {
    box-shadow: 0 0 0 5px rgba(0, 0, 0, 0);
  }

  100% {
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
  }
}

.fade-out {
  animation: fade-out ease-in-out 0.3s !important;
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  border-radius: 0;
  box-shadow: inset 0 0 1px rgba(0, 0, 0, 0.3);
}

::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.2);
  border-radius: 0;
}

::-webkit-scrollbar-thumb:window-inactive {
  background: rgba(0, 0, 0, 0.3);
}

@media (max-width: 610px) {
  .users {
    height: 10%;
  }
  .chat-section {
    height: 90%;
  }
  .title {
    font-size: 2rem;
    margin: 0.5rem;
  }
}
