*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  background: url(../assets/images/confetti.png) no-repeat center center fixed
    rgb(0, 0, 0);
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  font-family: "Roboto Mono", monospace;
}

.login-page {
}

.title {
  animation: fadeInRight 1s ease forwards;
  position: fixed;
  top: 10%;
  left: 30%;
  text-align: center;
  font-size: calc(6rem + 2vw);
  font-weight: bold;
  letter-spacing: 1px;
  margin: 2rem;
  color: #691eff59;
  text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.199);
  font-family: "Poppins", sans-serif;
}

@keyframes fadeInRight {
  0% {
    opacity: 0;
    transform: translate3d(100%, 0, 0);
  }

  100% {
    opacity: 1;
    transform: none;
  }
}

@keyframes fadeInLeft {
  0% {
    opacity: 0;
    transform: translate3d(-100%, 0, 0);
  }

  100% {
    opacity: 1;
    transform: none;
  }
}

.login-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: absolute;
  width: 40vw;
  top: 80%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.login-text {
  animation: fadeInLeft 1s ease forwards;
  position: fixed;
  top: 17%;
  left: 15%;
  width: 60%;
  margin: 2rem;
  color: white;
}

.login-text,
h3 {
  font-size: calc(1.5rem + 2vw);
  letter-spacing: 1px;
  line-height: inherit;
  font-weight: bold;
  font-family: "Poppins", sans-serif;
}

.login-text h4 {
  font-size: calc(0.5rem + 2vw);
  line-height: inherit;
  font-family: "Poppins", sans-serif;
}

.apply-button {
  animation: fade-in ease-in-out 1s, pulse 2s infinite;
  background-color: rgba(255, 255, 255, 0.3);
  color: white;
  padding: 10px 20px;
  border-radius: 5px;
  border: none;
  font-size: calc(1rem + 1vw);
  font-weight: bolder;
  transition: 0.3s;
  z-index: 2;
  text-align: center;
  width: 100%;
}

.apply-button:hover {
  background-color: #868e96;
}

.apply-button:focus {
  background-color: rgba(255, 255, 255, 0.3);
}

.name-input {
  animation: fade-in ease-in-out 1s;
  font-size: calc(1rem + 1vw) !important;
  color: white;
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes fade-out {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

@keyframes pulse {
  0% {
    box-shadow: 0 0 0 0 #868e96;
  }

  70% {
    box-shadow: 0 0 0 5px rgba(0, 0, 0, 0);
  }

  100% {
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
  }
}

.fade-out {
  animation: fade-out ease-in-out 2s !important;
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  border-radius: 0;
  box-shadow: inset 0 0 1px rgba(0, 0, 0, 0.3);
}

::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.2);
  border-radius: 0;
}

::-webkit-scrollbar-thumb:window-inactive {
  background: rgba(0, 0, 0, 0.3);
}

@media (max-width: 610px) {
  body {
    overflow-x: hidden;
    overflow-y: hidden;
  }
  .users {
    height: 10%;
  }
  .chat-section {
    height: 90%;
  }
  .login-form {
    top: 70%;
  }
  .online-users {
    writing-mode: horizontal-tb;
    font-size: calc(3rem + 2vw);
    text-align: center;
  }
  .users-list {
    flex-direction: row;
    overflow-x: scroll;
    width: 100%;
  }
  .message-text {
    font-size: calc(1rem + 2vw);
  }
  .message-time {
    font-size: calc(0.5rem + 2vw);
  }
  .message-user-name {
    font-size: calc(0.6rem + 2vw);
  }
}
