.app-layout {
  display: flex;
  flex-wrap: wrap;
  height: 80vh;
  width: 90vw;
}

.users {
  flex: 1 1 15rem;
  background-color: #815e7c5e;
  color: #51cf66;
}

.chat-section {
  flex: 10 1 40rem;
}

.messages {
  overflow-y: auto;
  background-color: #ffffff63;
  height: 88%;
  overflow-x: hidden;
}

.input {
  grid-column: 2;
  grid-row: 2;
  background: #ffffff63;
}

.users-list {
  display: flex;
  flex-direction: column;
  overflow-y: auto;
}

.user {
  margin: 0.5rem;
}
