.chat-controls {
  background-color: black;
  position: relative;
}

.chat-controls-textarea {
  background: #ffffff17;
  resize: none;
  border: none;
  width: 90%;
  margin: 1em;
  border-radius: 25px;
  padding: 1rem;
  color: white;
  font-size: 0.9em;
  outline: none;
  width: calc(100% - 25px);
  margin: 1.4em 1em;
}

.chat-controls-textarea:focus {
  animation: pulse 2s;
}

.chat-controls-btn {
  /* padding: 0.5rem;
  color: #fff;
  cursor: pointer;
  align-self: center; */
}

.controls-send {
  color: white;
  background: dodgerblue;
  font-size: 1.3em;
  border-radius: 50%;
  padding: 0.5em;
  text-align: center;
  display: inline;
  cursor: pointer;
  position: absolute;
  bottom: 1.85rem;
  right: 2rem;
}
