.clear {
  clear: both;
}

.messages-list {
  margin: 1rem 1.5rem;
}

.system-message {
  font-size: calc(0.8rem + 1vw);
  margin: 0.5rem;
  color: white;
  text-align: center;
}

.message-ans-btn {
  cursor: pointer;
  border: 1px solid #40a852;
  padding: 1px 8px 1px 8px;
  border-radius: 15px;
  float: right;
  font-size: calc(0.2rem + 1vw);
  margin-bottom: 5px;
  color: #999;

  background: linear-gradient(to right, #40a852 50%, white 50%);
  background-size: 200% 100%;
  background-position: right bottom;
  transition: all 0.5s ease-out;
}

.message-ans-btn:hover {
  background-position: left bottom;
  color: white;
}

.chat-item-me {
  margin-bottom: 0.5rem;
  background: #333;
  float: right;
  text-align: right;
  border-radius: 10px 10px 0 15px;
}

/* .chat-item-me ::before {
  left: 100%;
  border: solid transparent;
  border-left-color: #333;
  content: "";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  border-width: 10px;
  top: 10px;
} */

.chat-item-other {
  margin-bottom: 0.5rem;
  background: #f1f2f2;
  float: left;
  text-align: left;
  border-radius: 10px 10px 15px 0;
}

/* .chat-item-other ::after {
  right: 100%;
  border: solid transparent;
  border-right-color: #f1f2f2;
  content: "";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  border-width: 10px;
  top: 10px;
} */

.message {
  padding: 0.5rem;
  position: relative;
}

.message-user-name {
  font-size: calc(0.3rem + 1vw);
  font-weight: bold;
  color: #40a852;
  padding-right: 1.5rem;
}

.message-time {
  font-size: calc(0.2rem + 1vw);
  color: #999;
}

.message-text {
  font-size: calc(0.4rem + 1vw);
  color: #777777;
  max-width: 200px;
  word-wrap: break-word;
}

.ans-p {
  font-size: calc(0.2rem + 1vw);
  color: rgb(197, 118, 87);
  padding: 2px 5px;
  background: #5050503d;
  max-width: 200px;
  word-wrap: break-word;
  border-radius: 20px;
}
